@model PokeBindaOnline.Models.LoginModel

@{
    ViewBag.Title = "Login";
}
@using (Html.BeginForm())
{
    <div class="outerGrid">
        @Html.LabelFor(model => model.Email, new { @class = "label"})
        @Html.TextBoxFor(model => model.Email, new { @class = "emailInput" })
        @Html.LabelFor(model => model.Password, new { @class = "label" })
        @Html.PasswordFor(model => model.Password, new { @class = "passwordInput" })
    </div>
}