.contentContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--card-width));
    grid-auto-rows: var(--card-height);
    grid-gap: var(--card-grid-gap);
    justify-content: space-evenly;
    padding-top:10px;
    padding-bottom:10px;
}

.card-display-grid {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
}

.card-form {
    width: 100%;
    overflow: hidden
}

.card-button {
    height: var(--card-height);
    width: var(--card-width);
    background: none;
    border: none;
    display: grid;
    grid-auto-rows: min-content;
}

.card-button:hover .card-image {
    width: 96%;
    margin: 2%;
}

.card-image {
    width: 80%;
    aspect-ratio: 1/1.414;
    margin: 10%;
    background-size: contain;
    background-repeat: no-repeat;
}

.card-name {
    width: 90%;
    margin: auto;
    text-align: center;
    word-wrap: anywhere;
}

@media (min-width: 720px) {
    :root {
        --card-height: 400px;
        --card-width: 240px;
        --card-grid-gap: 2rem;
    }
}

@media (min-width: 1440px) {
    :root {
        --card-height: 480px;
        --card-width: 288px;
        --card-grid-gap: 2.25rem;
    }
}

@media (min-width: 1920px) {
    :root {
        --card-height: 520px;
        --card-width: 312px;
        --card-grid-gap: 2.5rem;
    }
}

@media (max-width: 720px) {
    :root {
        --card-height: 340px;
        --card-width: 204px;
        --card-grid-gap: 1rem;
    }
    .card-name {
        font-size: 16px;
    }
}

@media (max-width: 320px) {
    :root {
        --card-height: 280px;
        --card-width: 168px;
        --card-grid-gap: 0.5rem;
    }
}