:root {
    --header-min-height: 100px;
    --tab-bar-min-width: 160px;
    --tab-bar-max-width: 1fr;
    --content-width: 14fr;
    --content-min-height: 150px;
}

* {
    margin: 0;
    padding: 0;
    color: #FFC18E;
}

html {
    height: 100vh;
    min-width: 250px;
}



body {
    height: 100%;
    background-image: linear-gradient(190deg, #7A4069 9%, #A7809B 100%);
}

.modal-content {
    background-image: linear-gradient(180deg, #513252 0%, #6C526D 74.3%);
}

.dropdown-menu {
    max-height: 300px;
    overflow-y: auto;
}

.btn-close {
    opacity: 1;
    color: #FFC18E;
    filter: invert(77%) sepia(18%) saturate(878%) hue-rotate(338deg) brightness(101%) contrast(102%);
}

.tabContainer {
    grid-row: 1;
    grid-column: 1;
    border-right: 2px solid black;
    width: 100%;
}

    .tabContainer h4 {
        overflow-wrap: anywhere;
    }

.tab-form {
    width: 100%;
}

.tab-button {
    width: calc(100% - 20px);
    margin: 10px;
    aspect-ratio: 1/1;
    border: none;
    padding: 0;
    background: none;
}

.tab-button:hover .tab-image {
    width: 96%;
    margin: 2%
}

.tab-image {
    width: 80%;
    margin: 10%;
    aspect-ratio: 1/1;
    align-self: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.tab-text {
    margin: 0;
    padding: 0;
}

.scrollViewer {
    height: 100%;
    overflow-y: auto;
}

    /* width */
    *::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
*::-webkit-scrollbar-track {
    background: #A7809B;
}

    /* Handle */
*::-webkit-scrollbar-thumb {
    background: #513252;
}

        /* Handle on hover */
    *::-webkit-scrollbar-thumb:hover {
        background: purple;
    }


.baseGrid {
    display: grid;
    grid-template-columns: minmax(var(--tab-bar-min-width), var(--tab-bar-max-width)) var(--content-width);
    grid-template-rows: 100%;
    height: 100%;
    width: 100%;
}

.pageContent {
    grid-row: 2;
    grid-column: 1;
    background-image: linear-gradient(180deg, #513252 0%, #6C526D 74.3%);
    padding: var(--padding);
    height:100%;
    overflow: hidden;
}

#page-content {
    width: 100%;
    height: 100%;
}

.pageHeader {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-row: 1;
    grid-column: 1;
    color: #FFC18E;
    border-bottom: 2px solid black;
}

.headerText {
    text-align: center;
    vertical-align: middle;
    overflow-wrap: anywhere;
    grid-row: 1;
    grid-column: 1;
    height: min-content;
    margin: auto;
}

.profile-form {
    width: 100px;
    display: grid;
    grid-column: 2;
    grid-row: 1;
}

.profile-button {
    width: 100%;
    background-color: transparent;
    border: none;
    margin: auto;
}

.profile-button-image {
    background-image: url("/Images/Icons/profileicon.png");
    background-size: contain;
    background-repeat: no-repeat;
    aspect-ratio: 1/1;
    width: 80%;
    margin: 10%;
}

.profile-button:hover .profile-button-image {
    width: 96%;
    margin: 2%;
}


.layer1Grid {
    grid-row: 1;
    grid-column: 2;
    display: grid;
    grid-template-rows: minmax(var(--header-min-height), 1fr) 9fr;
    grid-template-columns: 100%;
    width: 100%;
    height: 100%;
}

@media (max-width: 1920px) {
    :root {
        --content-width: 11fr;
        --tab-bar-min-width: 100px;
    }
}

@media (max-width: 1440px) {
    .tabContainer h4 {
        font-size: 16px;
    }
}

@media (max-width: 720px) {
    .tabContainer h4 {
        font-size: 14px;
    }
    .headerText {
        font-size: 20px;
    }

    .profile-form {
        width: 75px;
    }
}

@media (max-width: 320px) {
    .tabContainer h4 {
        font-size: 12px;
    }
}