:root {
    --status-loading-max-width: 75px;
}

.surround {
    container-type: inline-size;
    container-name: viewcard;
}

.button-disabled *
{
    opacity: .5;
}

.button-disabled:hover *
{
    opacity: .5;
}

.view-card-two-part-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content;
    text-align: center;
    overflow-wrap: anywhere;
    max-width: 1440px;
    width: 100%;
    margin: auto;
}

.view-card-container-one {
    grid-row: 1;
    grid-column: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    vertical-align: middle;
    height: min-content;
    margin: auto 0;
}


.view-card-container-two {
    grid-row: 2;
    grid-column: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    vertical-align: middle;
    height: min-content;
    margin: auto 0;
}


    .view-card-header {
        display: grid;
        grid-template-rows: min-content;
        grid-template-columns: 75px 1fr 75px;
    }

    .view-card-header-text {
        grid-column: 2;
        text-align: center;
        margin: auto;
        height: min-content;
        border-bottom: none;
        padding: 0 5px;
    }

.view-card-add-form {
    vertical-align: middle;
    grid-column: 3;
    display: grid;
}

.view-card-add-button {
    background: none;
    border: none;
    width: 100%;
    margin: auto;
    vertical-align: middle;
}

.view-card-add-image {
    background-image: url('/Images/Icons/plusicon.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 80%;
    margin: 10%;
    aspect-ratio: 1/1;
}

.view-card-toggle-favorite-form {
    vertical-align: middle;
    grid-column: 3;
    display: grid;
}

.view-card-toggle-favorite-button {
    background: none;
    border: none;
    width: 100%;
    margin: auto;
    vertical-align: middle;
}

.view-card-toggle-favorite-image {
    background-size: contain;
    background-repeat: no-repeat;
    width: 80%;
    margin: 10%;
    aspect-ratio: 1/1;
}

.not-favorite {
    background-image: url('/Images/Icons/notfavoriteicon.png');
}

.is-favorite {
    background-image: url('/Images/Icons/favoriteicon.png');
}

.view-card-toggle-favorite-button:hover .view-card-toggle-favorite-image {
    width: 96%;
    margin: 2%;
}

    .view-card-image {
        background-image: url("/Images/Cards/default.png");
        width: 90%;
        aspect-ratio: 1/1.414;
        margin: 15px auto;
        background-size: contain;
        background-repeat: no-repeat;
    }


.view-card-status-form {
    display: grid;
    grid-template-rows: min-content;
    width: 100%;
    grid-template-columns: minmax(50px,1fr) 4fr min-content;
    /*grid-template-columns: minmax(50px,75px) 1fr minmax(50px,75px);*/
}

.view-card-status-dropdown {
    background: none;
    border-radius: 5px;
    border: 1px solid #FFC18E;
    height: 40px;
    margin: 5px 10px;
    width: 90%;
}

.view-card-status-dropdown:hover {
    border: 1px solid #FFC18EA0;
}


    .view-card-status-dropdown * {
        background: #513252;
    }

.view-card-status-dropdown-menu
{
    width: 90%;
}
.view-card-status-update-button {
    background: none;
    border: none;
    width: 50px;
    margin: auto;
}

#dropdown-text {
    background: none;
    margin: auto inherit;
}

.dropdown-toggle {
    color: #FFC18E;
    overflow-wrap: break-word;
}

.dropdown-menu {
    background-image: linear-gradient(190deg, #7A4069 9%, #A7809B 100%);
}

.dropdown-item {
    color:#FFC18E;
}
.dropdown-item:hover {
    border: 1px solid #FFC18E;
    background: none;
    color: #FFC18E;
}

.view-card-status-label {
    margin: auto 0;
    padding-right: 2px;
    text-align: right;
}


.view-card-status-update-image {
    background-image: url("/Images/Icons/saveicon.png");
    width: 80%;
    margin: 10%;
    aspect-ratio: 1/1;
    background-size: contain;
    background-repeat: no-repeat;
}

.view-card-status-update-button:hover .view-card-status-update-image {
    width: 96%;
    margin: 2%;
}
.view-card-status-update-success {
    margin: 0 auto 2px auto;
    overflow: hidden;
    vertical-align: middle;
    margin: auto auto auto 0;
}

#status-success {
    opacity: 0;
    height: 30px;
    width: 0;
    line-height: 30px;
}

#status-success.done {
    animation: anime 1500ms forwards;
}

#status-success.show {
    animation: appear 125ms forwards;
}

@keyframes appear {
    0% {
        opacity: 0;
        width: 0;
    }

    100% {
        opacity: 1;
        width: var(--status-loading-max-width);
    }
}

@keyframes anime {
    0% {
        opacity: 1;
        width: var(--status-loading-max-width);
    }

    50% {
        opacity: 1;
        width: var(--status-loading-max-width);
    }

    100% {
        opacity: 0;
        width: 0px;
    }
}

@keyframes appeartwo {
    0% {
        opacity: 0;
        width: 0;
    }

    100% {
        opacity: 1;
        width: 50px;
    }
}

@keyframes animetwo {
    0% {
        opacity: 1;
        width: 50px;
    }

    50% {
        opacity: 1;
        width: 50px;
    }

    100% {
        opacity: 0;
        width: 0px;
    }
}

.view-card-pokemon {
    display: grid;
    grid-template-rows: min-content min-content;
    max-width: 720px;
    width: 100%;
    margin: 0 auto;
}

        .view-card-pokemon * {
            margin: 2px;
        }

    .view-card-pokemon-label {
        grid-row: 1;
        padding-bottom: 2px;
        border-bottom: 1px solid #513252;
    }


    .view-card-pokemon-container {
        grid-row: 2;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: min-content;
    }

    .view-card-pokemon-gen-label {
        grid-row: 1;
        grid-column: 1;
    }

    .view-card-pokemon-pokedex-number-label {
        grid-row: 1;
        grid-column: 2;
        border-right: 1px solid #513252;
        border-left: 1px solid #513252;
    }

    .view-card-pokemon-name-label {
        grid-row: 1;
        grid-column: 3;
    }

    .view-card-border {
        border-bottom: 1px solid #513252;
        margin: 0px 5px;
    }

    .view-card-pokemon-gen {
        grid-column: 1;
    }

    .view-card-pokemon-pokedex-number {
        grid-column: 2;
        border-right: 1px solid #513252;
        border-left: 1px solid #513252;
    }

    .view-card-pokemon-name {
        grid-column: 3;
    }

    .view-card-abilities {
        margin: 10px 0;
    }

    .dashed-border {
        border: 1px dashed #513252;
    }

    .view-card-abilities-label {
        border-bottom: 1px solid #513252;
    }

    .view-card-abilities-container {
    }

    .ability-container {
        margin: 10px 0;
    }

    .ability-description {
    }

    .view-card-labels-and-details {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: min-content;
        margin-bottom: 5px;
    }

    .view-card-labels-and-details * {
        height: min-content;
        margin: auto auto 0 auto;
    }

    .view-card-labels-and-details h4 {
        text-align: right;
        vertical-align: middle;
        padding-right: 1px;
    }

    .view-card-labels-and-details h5 {
        text-align: left;
        vertical-align: middle;
        padding-left: 1px;
    }

.view-card-types-label {
}

.view-card-types {
}

.view-card-tags-label {
}

.view-card-tags {
}

.view-card-set-number-label {
}

.view-card-set-number {
}

.view-card-set-number-label {
}

.view-card-set-number {
}

.view-card-group-buttons {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    vertical-align: middle;
    margin-top: 16px;
}
.group-dropdown {
    height: 75px;
}

.view-card-add-to-group-form {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    vertical-align: middle;
    height: min-content;
}

.view-card-add-to-group-dropdown {
    width: 75px;
    height: min-content;
    background: none;
    border: none;
}

.view-card-add-to-group-image {
    width: 80%;
    margin: 10%;
    background-image: url("/Images/Icons/addbookmarkicon.png");
    background-size: contain;
    background-repeat: no-repeat;
    aspect-ratio: 1/1;
}

.view-card-add-to-group-dropdown:hover .view-card-add-to-group-image {
    width: 96%;
    margin: 2%;
}

.view-card-remove-from-group-form {
    grid-column: 2;
    grid-row: 1;
    width: 100%;
    vertical-align: middle;
    height: min-content;
}

.view-card-remove-from-group-dropdown {
    width: 75px;
    height: min-content;
    background: none;
    border: none;
}

.view-card-remove-from-group-image {
    width: 80%;
    margin: 10%;
    background-image: url("/Images/Icons/removebookmarkicon.png");
    background-size: contain;
    background-repeat: no-repeat;
    aspect-ratio: 1/1;
}

.view-card-remove-from-group-dropdown:hover .view-card-remove-from-group-image {
    width: 96%;
    margin: 2%;
}

.view-card-remove-form {
    grid-column: 3;
    grid-row: 1;
    width: 100%;
    vertical-align: middle;
    height: min-content;
}

.view-card-remove-button {
    width: 75px;
    height: min-content;
    background: none;
    border: none;
}

.view-card-remove-image {
    width: 80%;
    margin: 10%;
    background-image: url("/Images/Icons/trashicon.png");
    background-size: contain;
    background-repeat: no-repeat;
    aspect-ratio: 1/1;
}

.view-card-remove-button:hover .view-card-remove-image {
    width: 96%;
    margin: 2%;
}



@container viewcard (max-width: 480px) {
    h5, .dropdown-toggle {
        font-size: 16px;
    }

    h4 {
        font-size: 18px;
    }

    h3 {
        font-size: 22px;
    }
}

@container viewcard (max-width: 320px) {

    .view-card-header {
        grid-template-columns: 50px 1fr 50px;
    }

    .group-dropdown {
        height: 50px;
    }

    .view-card-remove-from-group-dropdown {
        width: 50px;
    }

    .view-card-remove-button {
        width: 50px;
    }

    .view-card-add-to-group-dropdown {
        width: 50px;
    }

    h5, .dropdown-toggle {
        font-size: 12px;
    }

    h4 {
        font-size: 14px;
    }

    h3 {
        font-size: 16px;
    }


    #status-success.done {
        animation: animetwo 1500ms forwards;
    }

    #status-success.show {
        animation: appeartwo 125ms forwards;
    }
}

@container viewcard (min-width: 720px) {
    .view-card-two-part-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .view-card-container-one {
        grid-row: 1;
        grid-column: 1;
    }

    .view-card-container-two {
        grid-row: 1;
        grid-column: 2;
    }
}

@container viewcard (min-width: 980px) {
    .view-card-two-part-container {
        grid-template-columns: 2fr 3fr;
        grid-template-rows: 1fr;
    }
}

@container viewcard (min-width: 1440px) {
    .view-card-two-part-container {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr;
    }
}
