@{
    ViewBag.Title = "Home Page";
}
@section styles{
    <link href="~/Content/home.css" rel="stylesheet" />
    }

<div class="centerContainer">
    <h1 class="centerContent">Welcome to PokeBinda!</h1>
</div>