@model DataObjects.User

@{ 
    PokeBindaWebsite.Models.TabModel tabModel = new PokeBindaWebsite.Models.TabModel()
    {
        Action = "Group",
        Controller = "Collection",
        Image = "favoritegroupicon.png",
        Name = Model.FavoriteGroup.Name
    };
    tabModel.Hiddens.Add("group", Model.FavoriteGroup.ID);
    @Html.Partial("Tab", tabModel)

    @Html.Partial("Tab", new PokeBindaWebsite.Models.TabModel()
    {
        Action = "Index",
        Controller = "Browse",
        Image = "browseicon.png",
        Name = "Browse"
    })

    @Html.Partial("Tab", new PokeBindaWebsite.Models.TabModel()
    {
        Action = "Index",
        Controller = "Collection",
        Image = "collectionicon.png",
        Name = "My Collection"
    })

    foreach (var group in Model.Groups)
    {
        tabModel = new PokeBindaWebsite.Models.TabModel()
        {
            Action = "Group",
            Controller = "Collection",
            Image = "bindericon.png",
            Name = group.Name
        };
        tabModel.Hiddens.Add("group", group.ID);
        @Html.Partial("Tab", tabModel)
    }

    AjaxOptions options = new AjaxOptions()
    {
        UpdateTargetId = "modal-body",
        HttpMethod = "Get",
        LoadingElementDuration = 200,
        OnSuccess = "rebindValidation",
        LoadingElementId = "modal-loading"
    };
    using (Ajax.BeginForm("NewGroup","Collection", null, options, new { @class = "tab-form", method = "GET" }))
    {
        <button type="submit" class="tab-button" data-bs-toggle="modal" data-bs-target="#modal-popup">
            <div style="background-image:url('/Images/Icons/plusicon.png')" class="tab-image"></div>
            <h4 class="tab-text">New Group</h4>
        </button>
    }
}