@model List<DataObjects.UserPokemonCard>

    <div class="contentContainer scrollViewer">
        @foreach (var card in Model)
        {
            @Html.Partial("UserCard", card)
        }
    </div>